:root {
  --color-page-1: #5c529e;
  --color-page-2: #C3C3E5;
  --color-page-4: #F1F0FF;
  --color-page-3: #9d69ac;
  --text-color-1: #000000;
  --text-color-2: #282828;
  --text-color-3: #505050;
}

html {
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--color-page-1);
  font-family: 'Times New Roman', Times, serif;
}

/*general*/

.flex {
  display: flex;
}

.flex-h-center {
  justify-content: center;
}.flex-h-start {
  justify-content: flex-start;
}.flex-h-end {
  justify-content: flex-end;
}
.flex-v-center {
  align-items: center;
}.flex-v-start {
  align-items: flex-start;
}.flex-v-end {
  align-items: flex-end;
}

/*specifics*/
.content {
  height: 100vh;
}
.board {
  border: 1px solid gray;
  flex-direction: column;
  /* aspect-ratio: 1/1; */
  width: 90vw;
  /* height: 90vh; */
}
.row {
  display: flex;
  flex: 1 1 auto;
}
.tile {
  display: flex;
  flex: 1 1 0;
  aspect-ratio: 1/1;
  border: 4px outset #fff;
  background-color: #ddd;
  justify-content: center;
}.tile:hover {
  background-color: #eee;
}.tile:active {
  background-color: #ccc;
  border-style: inset;
}.tile.revealed {
  transition: 250ms;
  background-color: #ccc;
  border: 4px solid #bbb;
}.revealed.mine {
  background-color: darkred;
  border-color: darkred;
}

.tile-image {
  width: 100%;
}

/*for testing*/
** {
  box-shadow: inset 0 0 1px black;
}