:root {
  --color-page-1: #5c529e;
  --color-page-2: #C3C3E5;
  --color-page-4: #F1F0FF;
  --color-page-3: #9d69ac;
  --text-color-1: rgb(0, 0, 0);
  --text-color-2: rgb(40, 40, 40);
  --text-color-3: rgb(80, 80, 80);
}

html {
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--color-page-1);
}

.flex {
  display: flex;
}

.board {
  border: 1px solid gray;
  flex-direction: column;
}
.row {
  display: flex;
  flex: 1 1 auto;
}
.tile {
  width: 30px;
  aspect-ratio: 1/1;
  border: 4px outset #fff;
  background-color: #ddd;
}.tile:hover {
  background-color: #eee;
}.tile:active {
  background-color: #ccc;
  border-style: inset;
}

/*for testing*/
** {
  box-shadow: inset 0 0 1px black;
}